$color-dark-grey: rgb(73, 83, 91);
$color-light-grey: rgb(121, 131, 140);
$color-light-grey-transparent: rgba(121, 131, 140, 0.1);
$color-blue: rgb(18, 123, 172);
$color-blue-transparent: rgba(18, 123, 172, 0.2);
$color-white: rgb(250, 252, 255);
$color-white-transparent: rgba(250, 252, 255, 0.8);