.default{
    .default__headline-wrapper{
        display: flex;

        img{
            width: auto;
            height: 2.7rem;
            margin-right: 1rem;
        }
    }
    img{ 
        height: auto;
        width: 50%;
        object-fit: cover;
        cursor: pointer;
        @media screen and (max-width: $breakpoint) {
            width: 100%;
        }
    }

    .swiper{
        .swiper-wrapper{
            .swiper-slide{
                img{
                    width: 100%;
                    height: 15rem;
                }
            }
        }
    }
}