#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
    z-index: 99999;
    padding: .5rem 0;
    transition: $transition;

    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        

        .header__logo{
            width: fit-content;
            svg{
                min-width: 7rem;
                max-width: 10rem;
            }
        }
        .header__navigation{
            @media screen and (max-width:$breakpoint) {
                display: none;
            }
            ul{
                display: flex;
                list-style: none;
                padding: 0;
                align-items: center;
                margin: 0;

                li{
                    position: relative;
                    padding: 1rem;
                    
                    a{
                        position: relative;
                        text-decoration: none;
                        color: $color-dark-grey;
                        transition: $transition;
                        display: inline-block;
                        width: 100%;
                        &::after{
                            position: absolute;
                            right: 0;
                            bottom: -.2rem;
                            left: 0;
                            display: block;
                            width: 96%;
                            content: '';
                            transition: $transition;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            border-bottom: 2px solid $color-blue;
                        }

                        &:hover, &.show{
                            color: $color-blue;
                            &::after{
                                transform: scaleX(1);
                            }
                        }
                    }
                    .login-button{
                        color: $color-blue;
                        padding: .5rem;
                        box-sizing: border-box;
                        border-radius: $border-radius;
                        font-family: $font-family-bold;
                        background-color: $color-white;
                        border: solid $color-blue $border-thickness;
                        text-transform: uppercase;
        
                        &:hover, &.show{
                            background-color: $color-blue;
                            color: $color-white;
                        }
                        &::after{
                            display: none;
                        }
                    }
                    &:last-child{
                        padding-right:0;
                    }

                    &:hover, &.show{
                        .submenu{
                            display: block;
                        }
                    }
                    
                    .submenu{
                        position: absolute;
                        background-color: $color-blue;
                        left: 0;
                        display: none;
                        padding: 1rem 0 0 0;
                        z-index: 9;
                        width: 100%;

                        li{
                            padding: 0;
                            a{
                                text-align: center;
                                color: $color-white;
                                padding: 1rem;
                                box-sizing: border-box;

                                &:hover, &.show{
                                    color: $color-blue;
                                    background-color: $color-white;
                                }
                                &::after{
                                    display: none;
                                }
                            }
                            &:hover, &.show{
                                .submenu2{
                                    display: block;
                                    padding: 0;
                                }
                            }
                        }

                        .submenu2{
                            position: absolute;
                            left: 100%;
                            width: 100%;
                            top: 0;
                            background-color: $color-dark-grey;
                            display: none;

                            li{
                                a{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                .submenu-init{
                    a{
                        transition: none;
                    }
                    &:hover, &.show{
                        background-color: $color-blue;
                        
                        a{
                            color: $color-white;
                            &::after{
                                border-bottom: 2px solid $color-white;
                                z-index: 10;
                            }
                        }
                    }
                }
            }
        }
        .hamburger-wrapper{
            display: none;
            height: 100%;
            position: absolute;
            top: 1rem;
            right: 0;
            @media screen and (max-width:$breakpoint) {
                display: block;
            }
        }
    }
}

@media screen and (max-width:$breakpoint) {
    #header.mobile-overlay{
        .header-wrapper{
            display: block;
            max-height: 100vh;
            height: auto;
            overflow-y: scroll;  
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;

            .header__navigation{
                display: block;
                ul{
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    margin: 0;

                    .submenu-init{
                        padding: 1rem 0 0 0;
                    }
    
                    li{
                        width: 100%;
                        padding: 1rem 0;
                        text-align: center;

                        a{
                            width: fit-content;
                        }

                        .submenu{
                            position: relative;
                            :last-child{
                                padding: 0;
                                margin: 0;
                            }
                            .submenu2-init{
                                a{
                                    width: 100%;
                                }
                            }

                            li{
                                .submenu2{
                                    position: relative;
                                    left: unset;
                                    li{
                                        a{
                                            padding: 1rem 0;

                                        }                                    }
                                    &:hover, &.show{
                                        display: block;
                                    }
                                }
                            }
                        }
    
                        &:last-child{
                            padding-top: 3rem;
                            padding-bottom: 2rem;
                        }
                    }
                }
            }
        }
    }
}
