.infoboxes{
    .infoboxes__content__text{
        color: $color-white;
        padding: 1rem 0;
        color: $color-dark-grey;

        h2{
            color: $color-blue;
        }
        h3{
            color: $color-dark-grey;
        }
    }

    .infoboxes__content__boxes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;


        .infoboxes__content__boxes__single-box{
            border-radius: $border-radius;
            background-color: $color-white;
            width: 20%;
            min-height: 20vh; 
            margin: 1rem 0;
            padding: 1rem;
            box-shadow: 0 4px 10px 0 $color-dark-grey;
            transition: $transition;
            text-decoration: none;
            display: flex; 
            flex-wrap: wrap;
            justify-content: left;

            .infoboxes__content__boxes__single-box__button{
                text-decoration: none;
                color: $color-blue;
                background-color: $color-white;
                border: 1px solid $color-blue;
                padding: .5rem;
                border-radius: $border-radius;
                transition: $transition;
                &:hover{
                    background-color: $color-blue;
                    color: $color-white!important;
                }
            }
            .infoboxes__content__boxes__single-box__text{
                font-size: 1.5rem;
                text-align: center;
            }

            img{
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }


            h5{
                margin: 0;
                color: $color-blue;
                font-size: 1.25rem;
                font-family: $font-family-bold;
                transition: $transition;
            }

            p{
                width: 100%;
                height: 100%;
                color: $color-dark-grey;
                transition: $transition;
            }


            @media screen and (max-width: $breakpoint) {
                width: 45%;
            }

            @media screen and (max-width: ($breakpoint - 200px)) {
                width: 100%;
            }

            h4{
                color: $color-blue;
            }
        }
        .infoboxes__content__boxes__single-box--last.infoboxes__content__boxes__single-box{
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: $color-white;
                color: $color-dark-grey;
                a{
                    color: $color-blue;
                }
            }
        }
        .infoboxes__content__boxes__single-box--services{
            &:hover, &:focus{
                background-color: $color-blue;
                color: $color-white;
                a{
                    color: $color-white;
                }

                h4, h5{
                    color: $color-white;
                }
                p{
                    color:$color-white;
                }
            }
        }
    }
    .infoboxes__content__boxes--services{
        .h4-wrapper{
            width: 100%;
            h4{
                width: fit-content;
                padding: .5rem;
                border-radius: $border-radius;
                margin: 1rem 0 .5rem 0;
                color: $color-white;
                background-color: $color-blue;
            }
        }
    }
}
