<section id="{{ page.header.title }}" class="infoboxes">
    <div class="infoboxes__content inside">
        <div class="infoboxes__content__text">
            {{ page.content|raw }}
        </div>
        <div class="infoboxes__content__boxes">
            {% for box in page.header.boxes %}
                    <div class="infoboxes__content__boxes__single-box">
                        <h4> {{ box.title }} </h4>
                       <p> {{ box.text }}</p>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>