<section class="footer-wrapper">
    <ul>
        <li>
            <a href="/impressum" title="Impressum">Impressum</a>
        </li>
        <li>
            <a href="/datenschutz" title="Datenschutz">Datenschutz</a>
        </li>
    </ul>
</section>