{% extends 'partials/base.html.twig' %}

{% block content %}
	<article class="default inside" id="error">
		<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }}</h1>
			<p>{{ page.content|raw }}</p>
	</article>
{% endblock %}
